:root {
    --toastContainerTop: 1em;
    --toastContainerLeft: calc(50vw - 8rem);
}

@media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}

html {
    --font-family: 'Open Sans', sans-serif;
    font-family: var(--font-family);
    background-color: var(--background-body);
}

body {
    max-width: 100% !important;
}

header {
    text-align: center;
}

header ul li {
    display: inline-block;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    gap: 5px;
}

.field input,
.field select {
    display: inline-block !important;
    width: 100%;
}

.form-group input,
.form-group select,
.form-group button {
    margin-right: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 80%;
}

nav a {
    padding: 10px;
    border: none;
    border-radius: 6px;
}

nav a:active,
nav a.active {
    background-color: var(--background);
}

nav a:hover {
    background-color: var(--background);
}

.danger {
    background-color: var(--danger);
}

.danger:hover {
    background-color: var(--danger-hover);
}

.danger:focus {
    box-shadow: 0 0 0 2px var(--danger-focus-border);
}
