:root {
    --danger: #542f2b;
    --danger-hover: #321a17;
    --danger-focus-border: #773a33ab;
    --sv-min-height: 40px;
    --sv-bg: var(--background);
    --sv-disabled-bg: #eee;
    --sv-border: 1px solid var(--button-base);
    --sv-border-radius: 4px;
    --sv-general-padding: 4px;
    --sv-control-bg: var(--sv-bg);
    --sv-item-wrap-padding: 3px 3px 3px 6px;
    --sv-selection-wrap-padding: 3px 3px 3px 4px;
    --sv-selection-multi-wrap-padding: 3px 3px 3px 6px;
    --sv-item-selected-bg: var(--button-base);
    --sv-item-btn-color: #ccc;
    --sv-item-btn-color-hover: #ccc;
    --sv-item-btn-bg: var(--button-base);
    --sv-item-btn-bg-hover: var(--button-base);
    --sv-icon-color: #bbb;
    --sv-icon-color-hover: #ccc;
    --sv-icon-bg: transparent;
    --sv-icon-size: 20px;
    --sv-separator-bg: var(--button-base);
    --sv-btn-border: 0;
    --sv-placeholder-color: #ccccd6;
    --sv-dropdown-bg: var(--sv-bg);
    --sv-dropdown-border: none;
    --sv-dropdown-offset: 1px;
    --sv-dropdown-width: auto;
    --sv-dropdown-shadow: 0 1px 3px #555;
    --sv-dropdown-height: 320px;
    --sv-dropdown-active-bg: var(--button-base);
    --sv-dropdown-selected-bg: var(--selection);
    --sv-create-kbd-border: 1px solid var(--button-base);
    --sv-create-kbd-bg: var(--button-base);
    --sv-create-disabled-bg: #bac5fc;
    --sv-loader-border: 2px solid var(--button-base);
  }