:root {
    --toastContainerTop: 1em;
    --toastContainerLeft: calc(50vw - 8rem);
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

html {
    --font-family: "Open Sans", sans-serif;
    font-family: var(--font-family);
    background-color: var(--background-body);
}

body {
    max-width: 100% !important;
}

header {
    text-align:center;
}

header ul li {
    display: inline-block;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    gap: 5px;
}

.field input, .field select {
    display: inline-block !important;
    width: 100%;
}

.form-group input, .form-group select, .form-group button {
    margin-right: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

.danger {
    background-color: #542f2b;
}

.danger:hover {
    background-color: #321a17;
}

.danger:focus {
    box-shadow: 0 0 0 2px #773a33ab;
}